* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333333;
}

.menu {
    border-bottom: 0.5px solid #1e293b;
}

.menu-level-1 {
    list-style: none;
    display: flex;
    position: relative;
    left: 50px;
    top: -13px;
}
img {
    position: relative;
    top: 35px;
    left: 10px;
}
.menu-level-1 > li {
    position: relative;
}

.menu li {
    display: block;
    padding: 12px 18px;
    color: #333333;
    text-decoration: none;
    white-space: nowrap;
}

.menu-level-1 > li:hover > li {
    background: #ffffff;
    border: 1px solid #dddddd;
}

.submenu.level-1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    list-style: none;
}

.menu-level-1 > li:hover > .submenu.level-1 {
    display: block;
}

.has-sub {
    position: relative;
}

.submenu.level-2 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 180px;
    background: #ffffff;
}

.has-sub:hover > .submenu.level-2 {
    display: block;
    border: 1px solid #dddddd;
}


li:hover > ul {
    background: #ffffff;
    border: 1px solid #dddddd;
}

span:hover {
    color: #d62828;
}
span b:hover {
    border-bottom: 2px solid #d62828;
    padding: 3px;
}
